<br>
<form>
    <div class="col-md-7 offset-md-3">

        <div *ngIf="bicapiResult.error" class="alert alert-danger mt-3" role="alert">
            Invalid BIC, We are unable to process your request. Please try later.
         </div>
       
         <div *ngIf="accountNameApiResult.error" class="alert alert-danger mt-3" role="alert">
            We are unable to process your request to the given Account Holder Name Please try later.
         </div>
         
         <div *ngIf="accountNumberApiResult.error" class="alert alert-danger mt-3" role="alert">
            We are unable to process your request to the given Account Holder Number Please try later.
         </div>

        <div class="container">
            <div class="row">
                <div class="col">
                        <div class="mb-3">
                            <label for="recbic" class="form-label"><b>Receiver BIC</b></label>
                            <input name="recbic" placeholder="Please enter receiver's BIC" type="text" class="form-control"
                                id="recbic" [(ngModel)]="receiverBIC" (blur)="handleReceiverBIC()" >
                        </div>
                </div>
                 
                <div class="col">
                    <div class="mb-3">
                        <label for="recbankname" class="form-label"><b>Receiver Institution Name</b></label>
                       
                       <!-- <label for="recinstitutionname" class="form-label"><b>{{bankData.bankName}}</b></label>
                        -->
                        
                        <input name="recinstitutionname" placeholder="{{bankData.bankName}}" readonly type="text"
                         class="form-control"
                        id="recinstitutionname" >
                    </div>
                    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                <div class="mb-3">
                    <label for="recaccounthn" class="form-label"><b>Receiver Account Name</b></label>
                    <input type="text" name="recaccounthn" placeholder="Please Enter Receiver's Account Holder Name"
                        class="form-control" id="recaccounthn" aria-describedby="recHelp"
                        [(ngModel)]="receiverAccountHolderName" (blur)="validateReceiverAccountHolderName()">
                    <div id="recHelp" class="form-text"></div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="recaccounthno" class="form-label"><b>Receiver Account Number</b></label>
                    <input type="text" name="recaccounthno" placeholder="Please Enter Receiver's Account Holder Number"
                        class="form-control" id="recaccounthno" aria-describedby="recHelp"
                        [(ngModel)]="receiverAccountHolderNumber" (blur)="validateReceiverAccountHolderNumber1()" >
                    <div id="recHelp" class="form-text"></div>
                </div>
            </div>
            </div>

            <br>
            <div class="row">
                <div class="col">
                        <div class="mb-3">
                            <label for="transfertypecode" class="form-label"><b>Transfer Type Code </b></label>
                            <input name="transfertypecode" placeholder="{{trasnfertypecode}}" readonly type="text"
                            class="form-control"
                           id="transfertypecode" >
                        </div>
                </div>
                
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="msgcode" class="form-label"><b>Message Code</b></label>
                        <select id="msgcode" name="msgcode" class="form-select" 
                        [(ngModel)]= "messageselectedValue"
                        aria-label="Default select example"
                         >
                            <option selected><b>Select the message code</b></option>
                            <option *ngFor="let option of options" [value]="option">
                                {{option}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        
            
            <br>
            <app-dropdown 
            [schema]="transferTypesDropdownSchema"
            (handleChange)="transferTypesSelected($event)"></app-dropdown>


            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="amount" class="form-label"><b>Amount</b></label>
                        <input name="amount" numbersOnly
                         placeholder="Please enter the amount to transfer" type="number" class="form-control"
                            id="amount"
                            [(ngModel)]="amountTransfer" (blur)="validateAmount()">
                    </div>
                </div>
            </div>

            
            <br>
            <div class="row">
                <div class="col">
                        <div class="mb-3">
                            <label for="amountwithtransferfee" class="form-label"><b> Total Amount including Transfer Fee (0.25%)</b></label>
                            <input name="amountwithtransferfee" placeholder="{{finalAmount}}" readonly type="number"
                            class="form-control"
                           id="amountwithtransferfee" >
                        </div>
                </div>
                
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button type="button" (click)="handleDashboard()" class="btn btn-primary btn-blue ">Go to
                        Dashboard</button>
                </div>
                <div class="col">
                    <button type="button" (click)="handleTransaction()" class="btn btn-dark btn-primary">Initiate Transaction</button>
                </div>
                <div class="col">
                    <button type="button" (click)="handleLogout()" class="btn btn-primary btn-danger ">Logout
                        </button>
                </div>
            </div>
        </div>
    </div>
</form>
<!--

<br>
<form>
    <div class="col-md-7 offset-md-3">
        <div class="container">
            <div class="row">
                <div class="col">
                        <div class="mb-3">
                            <label for="recbic" class="form-label"><b>Receiver BIC</b></label>
                            <input name="recbic" placeholder="Please enter receiver's BIC" type="text" class="form-control"
                                id="recbic" [(ngModel)]="receiverBIC" (blur)="handleReceiverBIC()" >
                        </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="recaccname" class="form-label"><b>Receiver Account Name</b></label>
                        <input name="recaccname" placeholder="Please enter receiver's name" type="text"
                            class="form-control" id="recaccname">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                <div class="mb-3">
                    <label for="recaccountno" class="form-label"><b>Receiver Account No</b></label>
                    <input type="text" name="recaccountno" placeholder="Please enter receiver's account number"
                        class="form-control" id="recaccno" aria-describedby="recHelp">
                    <div id="recHelp" class="form-text"></div>
                </div>
            </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="amount" class="form-label"><b>Amount</b></label>
                        <input name="amount" placeholder="Please enter the amount" type="text" class="form-control"
                            id="amount">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="msgcode" class="form-label"><b>Message Code</b></label>
                        <select id="msgcode" name="msgcode" class="form-select" aria-label="Default select example"
                         >
                            <option selected><b>Select the message code</b></option>
                            <option *ngFor="let option of options" [value]="option">
                                {{option}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="recbic" class="form-label"><b>Tranfer type Code</b></label>
                        <select id="transfertypecode" name="transfertypecode" class="form-select"
                            aria-label="Default select example">
                            <option selected><b>Select the transfer type code</b></option>
                            <option value="B">B-Bank to Bank Tranfer</option>
                            <option value="C">C-Customer to Customer Transfer</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button type="button" (click)="handleDashboard()" class="btn btn-primary btn-danger ">Go to
                        Dashboard</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-dark btn-primary">Initiate Transaction</button>
                </div>
            </div>
        </div>
    </div>
</form>


-->