<br>
<form novalidate>
    <div class="col-md-7 offset-md-3">

        <div class="container">
            <div class="row">
                <div class="col">
                        <div class="mb-3">
                            <label for="recbic" class="form-label"><b>Receiver BIC</b></label>
                            <input name="recbic" placeholder="Please enter receiver's BIC" type="text" class="form-control"
                                id="recbic"
                                autocomplete="off"
                                [(ngModel)]="receiverBIC" (blur)="handleReceiverBIC()" >
                        </div>
                        <div *ngIf="bicapiResult.error" class="alert alert-danger mt-3" role="alert">
                            Invalid BIC, We are unable to process your request. Please try later.
                         </div>
                </div>

               
                 
                <div class="col">
                    <div class="mb-3">
                        <label for="recbankname" class="form-label"><b>Receiver Institution Name</b></label>
                       
                       <!-- <label for="recinstitutionname" class="form-label"><b>{{bankData.bankName}}</b></label>
                        -->
                        
                        <input name="recinstitutionname" placeholder="{{bankData.bankName}}" readonly type="text"
                         class="form-control"
                        id="recinstitutionname" >
                    </div>
                    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                <div class="mb-3">
                    <label for="recaccounthn" class="form-label"><b>Receiver Account Name</b></label>
                    <input type="text" name="recaccounthn" placeholder="Please Enter Receiver's Account Holder Name"
                        class="form-control" id="recaccounthn" aria-describedby="recHelp"
                        autocomplete="off"
                        [(ngModel)]="receiverAccountHolderName" (blur)="validateReceiverAccountHolderName()">
                    <div id="recHelp" class="form-text"></div>
                </div>
                <div *ngIf="accountNameApiResult.error" class="alert alert-danger mt-3" role="alert">
                    We are unable to process your request to the given Account Holder Name Please try later.
                 </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="recaccounthno" class="form-label"><b>Receiver Account Number</b></label>
                    <input type="text" name="recaccounthno" placeholder="Please Enter Receiver's Account Holder Number"
                        class="form-control" id="recaccounthno" aria-describedby="recHelp"
                        autocomplete="off"
                        [(ngModel)]="receiverAccountHolderNumber" (blur)="validateReceiverAccountHolderNumber1()" >
                    <div id="recHelp" class="form-text"></div>
                </div>
                <div *ngIf="accountNumberApiResult.error" class="alert alert-danger mt-3" role="alert">
                    We are unable to process your request to the given Account Holder Number Please try later.
                 </div>
            </div>
            </div>

            <br>
            <div class="row">
                <div class="col">
                        <div class="mb-3">
                            <label for="transfertypecode" class="form-label"><b>Transfer Type Code </b></label>
                            <input name="transfertypecode" placeholder="{{trasnfertypecode}}" readonly type="text"
                            class="form-control"
                           id="transfertypecode" >
                        </div>
                </div>
                
            </div>
         
            
        
            <app-dropdown 
            [schema]="messageCodesDropdownSchema"
            (handleChange)="messageCodesSelected($event)"></app-dropdown>

            <br>

            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="amount" class="form-label"><b>Amount</b></label>
                        <input name="amount" numbersOnly
                         placeholder="Please enter the amount to transfer" type="number" class="form-control"
                            id="amount"
                            [(ngModel)]="amountTransfer" (blur)="validateAmount()">
                    </div>
                </div>
            </div>

            
            <br>
            <div class="row">
                <div class="col">
                        <div class="mb-3">
                            <label for="amountwithtransferfee" class="form-label"><b> Total Amount including Transfer Fee (0.25%)</b></label>
                            <input name="amountwithtransferfee" placeholder="{{finalAmount}}" readonly type="number"
                            class="form-control"
                           id="amountwithtransferfee" >
                        </div>
                </div>
                
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button type="button" (click)="handleDashboard()" class="btn btn-primary btn-blue ">Go to
                        Dashboard</button>
                </div>
                <div class="col">
                    <button type="button" 
                    
                    [disabled]="flag1==1 "
                    
                    (click)="handleTransaction()" class="btn btn-dark btn-primary">Initiate Transaction</button>
                </div>
                <div class="col">
                    <button type="button" 
                   
                    (click)="handleLogout()" class="btn btn-primary btn-danger ">Logout
                        </button>
                         
                </div>
            </div>
        </div>
    </div>
</form>