<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="profile-info col-md-9">
            <div class="panel">

                <footer class="panel-footer">
                    
                </footer>
            </div>
            <div class="panel">
                <div class="bio-graph-heading">
                    <h1>{{customerData.accountHolderName}}'s Profile</h1>
                </div>
                <br>
                <div class="panel-body bio-graph-info">
                    <div class="row">
                        <div class="bio-row">
                            <p><span><b>Customer ID</b></span>: {{customerData.customerId}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span><b>Name</b></span>: {{customerData.accountHolderName}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span><b>Balance</b></span>:  {{customerData.clearBalance}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span><b>City</b></span>:  {{customerData.customerCity}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span><b>Customer Type</b></span>: 
                                <!-- {{customerType}}-->

                                <span *ngIf="customerData.customerType=='I'">Individual Customer</span>
                                <span *ngIf="customerData.customerType=='B'">Bank Customer</span>
                            
                                
                                </p>
                        </div>
                        <div class="bio-row">
                            <p><span><b>OverDraft</b></span>: 
                                
                                <!--{{overDraft}}
                                -->

                               <span *ngIf="customerData.overDraftFlag==0">Overdraft facility not available</span>
                            
                            <span *ngIf="customerData.overDraftFlag==1">"Overdraft facility available"</span>
                            
                        </div>
                        <div class="bio-row">
                            <p><span><b>BIC</b></span>:  {{customerData.senderBIC}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <button (click)="handleTransfer()" class="btn btn-dark pull-left">Transfer Money</button>
            <button (click)="handleLogout()" class="btn btn-danger pull-right">Logout</button>
        </div>