.footer {
    /* background-color:black; */
    background-color: rgb(0, 132, 255);
    margin:0px auto;
    padding: 20px 0px;
    
}
.container1{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE3WMtXejaADXeOIWeeBbuRLoMko7ruBQz1A&usqp=CAU');
    background-attachment: fixed; 
  background-size: 100% 100%;
}